<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People and their Favorite Colors</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="app-section content-wrapper">
    <div class="app-section">
        <h1>People and their Favorite Colors</h1>
    </div>
    <div class="content-wrapper" th:each="eachPerson:${personlist}">
        <h2 th:text="${eachPerson.myName}" ></h2>
        <h3 th:text="${#lists.size(eachPerson.colors)>0}?'My Colors':'No colors for me'" ></h3>
            <div th:each="eachColor:${eachPerson.colors}" >
                <p th:text="${eachColor.colorName}"></p>
            </div>
    </div>
</div>
<div class="content-wrapper app-section">
    <a class="nav-links" href="/addcolor">Add a favorite color</a>
    <a class="nav-links" href="/addperson">Add a name</a>
</div>


</body>
</html>