<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Form</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="m1">
    <form th:action="@{/saveperson}" th:object="${aPerson}" method="post" >
        <div class="content-wrapper app-section">
            <input type="hidden" th:field="*{id}">
            <input type="text" th:field="*{myName}">
        </div>

        <button class="content-wrapper app-section m2" type="submit">Save Person</button>
    </form>
</div>
</body>
</html>